<% if !@error.nil? %>
  <p><%= @error %></p>
<% end %>

<form action="/" method="post" >
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="name" class="form-control input-lg" id="firstName" placeholder="First Name">
  </div>
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input type="name" class="form-control input-lg" id="lastName" placeholder="Last Name">
  </div>
  <div class="form-group">
    <label for="birthdate">Birthdate</label>
    <input type="date" id="birthdate">
  </div>
  <div class="form-group">
 <button type="submit" class="btn btn-primary">Show Me My Numerology App</button> 
   </div> 
   </div>
</form>
  
  
 


